@font-face {

    font-family: 'BMHANNA_11yrs';


    src: url('../font/BMHANNA_11yrs.woff') format('woff');

}

@font-face {

    font-family: 'BMHANNAAir';

    src: url('../font/BMHANNAAir.woff') format('woff');
}


body{
    font-family: 'BMHANNAAir';
    background-color: white !important;
}

h1{
    font-family: 'BMHANNA_11yrs';
    font-size: 6em !important; font-weight: bolder !important;
}


.navbar{
    background-color:white !important;
    font-size: 15px !important;
    border-bottom: 5px solid orange;
    margin-bottom: 20px;
}

nav {
    width: 60%;
    display: block;
    margin: 0px auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.footer{
    margin-top: 0px;
}

.slider-wrapper, .theme-default{
    margin-top: 0px !important;
}




img{
    max-width: 100%;
    max-height: 100%;

}

div.position-right{
    float:right;
    display:inline-block;
    margin-bottom: 10px;
}



div.tagselected{


    color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;



}
div.tagselected .modal{
    color:black;
}


@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.modal .close{
   /* 밤하나 폰트는 X표시가 안나와서..*/
    font-family: cursive;

}

h3 {
    text-align: center;
    font-family: 'BMHANNA_11yrs';
    font-size: 4em;
}

.card-title{
    font-family: 'BMHANNA_11yrs';
    font-size:3em;
}


.go-site{
    display:inline-block;
    margin-left:60%;
}

@media (max-width: 720px) {
    .desktopbtn{ display: none; } }
@media (min-width: 719px) {
    .mobilebtn{ display: none; } }


.img-thumbnail:hover{
    opacity: 0.4;
}

.modal-body ul li{

    list-style:none;
    margin-bottom:5px;
    margin-left:-10px;
}




/*sidebar*/
#page-wrapper {
    padding-left: 250px;
  }

  #sidebar-wrapper {
    position: absolute;
    width: 250px;
   height: 205%;
    margin-left: -250px;
    background-color: rgb(0, 0, 0,0.7);
    overflow: auto;
    left: 0px;
  }

  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */

  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
  }

  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }

   li>ul{
        display: none;
