/*
#now{background-color: black !imortant;}*/


h3 a{
    font-size:20px;
    font-weight: bold;
    color:black !important;

}
/*이전 현재 다음 메뉴바*/
#prev_next{
height: 100px;
    widows: 300px;

}

#prev_next ul li {
                        list-style: none;
                        color: white;
                        background-color: silver;
                        float: left;
                        line-height: 30px;
                        vertical-align: middle;
                        text-align: center;
                        border-radius: 5px;
                    margin: 5px 30px;
                        /*padding-right: 200px;*/
                }
#prev_next ul{
    display: inline-block;
    margin: 0px auto;
}

                #prev_next .menuLink {
                        text-decoration:none;
                        color: white;
                    display: block;
                        width: 150px;
                        font-size: 12px;
                        font-weight: bold;
                   /* border-radius: 200px;*/

                }
                #prev_next .menuLink:hover {

                        background-color: s;
                }


/*hr{border:10px solid black;}*/
/*전체 몸통 폭 지정*/
#content{
    border: 1px solid silver;
    width: 80%;
    margin: 0px auto;
}
.content2{
    padding-left: 80px;
}


 #java{
            width: 400px;
            height: 300px;
            /*position:relative;
            left:200px;*/
            display: block;
            margin: 0px auto;


        }
#line{

    width: 90% !important;
    border-bottom: 1px solid silver !important;
    margin: 30px;

}
#java:hover{

     opacity: 0.4;
    filter: alpha(opacity=40);
}

.btn-group{
    /*border:1px solid silver;*/
    width: 400px;
    background-color: red;
   /* color: black !important;*/
   /* text-decoration-color: black !important;*/
    text-align: center;
      border-radius: 5px;

}
.btn-group:hover{
    background-color: firebrick;
}
.btn.btn-default a{color:white !important;}
/*움직이는 배너 텍스트색깔 좀 바꿔주세여..*/
        a:hover{/*color:black;*/
           text-decoration: none;
/*background-color:black;*/}

aside{
    /*background: silver;*/
    height: 40px;
    position: fixed;
    left:50%;
    top: 30;
    transition: top 0.2s ease-in-out;
    /*width: 300px;*/
    /*color:white;*/
}
/*.progress-bar{background-color: black;}*/

.nav-up {
    top: -40px;
}
