@media screen and (max-width:1024px) { .backimage,div.testbutton,.btngroup{ display: none; } }
@media screen and (min-width: 768px) {
    .container {

        border-right: 1px solid silver;
        border-left: 1px solid silver;
    }

}
h3 a{
    font-size:20px;
    font-weight: bold;
    color:black !important;
}

*,pre{
    font-family: 'BMHANNAAIR';
}
pre{
    font-size:20px;
}

/*전체 몸통 폭 지정*/
.linkbutton{
     line-height: 30px;
                        vertical-align: middle;
                        text-align: center;
                        border-radius: 5px;
    width: 100px;
    border: 1px solid green;
    /*background-color: silver;*/
    float: right;
    margin-right:  30%;
}

.linkbutton a{color:black !important;}

.linkbutton:hover{
    background-color: green;
      color:white !important;
}

.linkbutton2{
    position:relative;
    left:300px;
}

#content{
    border: 1px solid silver;
    width: 60%;
    margin: 0px auto;
}

.content2{
    padding-left: 80px ;
}

#line{

    width: 90% !important;
    border-bottom: 1px solid silver !important;
    margin: 30px;

}

h3{/*text-align: center;*/
font-size:50px;}
/*#java:hover{

     opacity: 0.4;
    filter: alpha(opacity=40);
}*/

#toright{float:right !important;
        position: relative;
        right:30%;
    z-index: 3;}


/*움직이는 배너*/
.btn-group{
    /*border:1px solid silver;*/
    width: 80px;
    height: 90px;
   /* border: 1px solid silver;*/
    background-color: white;
    border: 1px solid silver;
    /*background-color: orange;*/
   /* color: black !important;*/
   /* text-decoration-color: black !important;*/
    text-align: center;
     /* border-radius: 5px;*/
    position:relative;
    left:570px;
    display:block;
    top:200px;
    /*z-index: 99999 !important;*/
 /*   margin-bottom: 100px;*/

    color:black;
    font-size:10px;

    /*border-radius: 100px;*/

}
button.btn.btn-default{z-index: 99999 !important;}
/*.btn-group.btn-group-justified{display:none;}*/

/*.subtitle{
    display:flex
}*/
.btn-group:hover{
   /* background-color: whitesmoke;*/
}
.btn.btn-default a{color:black !important;}





.testbutton.inside{
    background-color: orange;
    width: 100px;
    font-size:17px;
    height: 40px;
    text-align: center;
    padding-top:5px;
}
.testbutton.inside:hover{
    background-color: darkorange;
}
.testbutton.inside.install{
    position: relative;
    /*left:60%;*/
    top:-50px;
    left:250px;
}
.testbutton.inside.api{
    position: relative;
    left: 150px;
    top:-50px;
}

a:hover{/*color:black;*/
           text-decoration: none;
/*background-color:black;*/}

aside{
    /*background: silver;*/
    height: 40px;
    position: fixed;
    left:50%;
    top: 30;
    transition: top 0.2s ease-in-out;
    /*width: 300px;*/
    /*color:white;*/
}
/*.progress-bar{background-color: black;}*/

.nav-up {
    top: -40px;
}
.side iframe{position: relative;
right: 20px;}



////////////////////////////////
/*   @import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);*/
       .imagelink{
            display: block;
            position:relative;
            margin: 0px auto;
        }


figure.snip1384 {
  font-family: 'Raleway', Arial, sans-serif;
  /*position: relative;*/
  overflow: hidden;
  margin: 10px;

  width: 50%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #000000;
    position:relative;
    left:25%;

}
figure.snip1384 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1384 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.snip1384:after,
figure.snip1384 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1384:after {
  content: '';
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
figure.snip1384 figcaption {
  z-index: 1;
  padding: 40px;
}
figure.snip1384 h3,
figure.snip1384 .links {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure.snip1384 h3 {
  line-height: 1.1em;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure.snip1384 p {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
figure.snip1384 i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
figure.snip1384 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.snip1384:hover img,
figure.snip1384.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.snip1384:hover:after,
figure.snip1384.hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure.snip1384:hover h3,
figure.snip1384.hover h3,
figure.snip1384:hover p,
figure.snip1384.hover p,
figure.snip1384:hover i,
figure.snip1384.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}
/*//////////////////////////////////////////////버튼/////////////////*/
/*body{
  text-align:center;
}
body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}*/

.side{padding-left:-80px !important;
    margin-left:0px;
width: 119.4% !important;
position: relative !important;
right: 100px;}
/*학습사이트로 이미지 전체 div*/

  .side.image{
    position:relative;
    bottom: 150px;
        left:-70px;
      margin: 0px auto;



}
/*back이미지*/
.backimage{
    position:absolute;
    top:150px;
    right:170px;
    width:80%;
/*    height: 300px !important;*/

}
.backimage img{
   height: 300px !important;
}
/*#disqus_thread{width: 900px;
    position: relative;
    right: 70px;

}*/


/*이미지위에 텍스트*/
        .imagetext{
            position: absolute;
            top:100px;
            left: 130px;
            color:white;
            font-size:40px;
            font-weight: bold;
        }


        .testbutton{
            background-color:cadetblue;
            color:white;
            border-radius: 5px;
            width: 200px;
            height: 50px;
            position:absolute;
            font-size:25px;
            left:360px;
            top:160px;
            text-align: center;
            padding-top: 5px;


        }
        .testbutton:hover{
            background-color: dodgerblue;
            transition: 0.7s;
        }

