@font-face {

    font-family: 'BMHANNA_11yrs';

    src: url('../font/BMHANNA_11yrs.woff') format('woff');
}

@font-face {

    font-family: 'BMHANNAAir';

    src: url('../font/BMHANNAAir.woff') format('woff');
}

<<<<<<< HEAD
body {
    background-color: white !important;

}

h1 {
    font-family: 'BMHANNA_11yrs';
=======
* {
    font-family: 'BMHANNAAir';
>>>>>>> origin/master
}

dl {
    margin: 0px !important;
}

.navbar {
    background-color: white !important;
    font-size: 15px !important;
    border-bottom: 5px solid orange;
    margin-bottom: 20px;
}

nav {
    width: 60%;
    display: block;
    margin: 0px auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.footer {
    margin-top: 0px;
}

.slider-wrapper,
.theme-default {
    margin-top: 0px !important;
}


h1 {
    font-size: 6em !important;
    font-weight: bolder !important;
}

h2 {
    font-size: 2em !important;
    font-weight: bolder !important;
}

a.btn {
    color: white !important;
}

.jumbotron {
    margin-top: 50px !important;
    margin-bottom: 0px !important;
    padding: 0px;
}

.jumbotron img {
    height: 100.5% !important;
}

.jumbotron .col-5:nth-child(1) {
    padding: 70px;
}

.card img {
    padding: 0px;
    height: 270px;
}

.card a,
.card a:visited {
    color: black;
}

.slider-wrapper,
.nivo-main-image,
#slider {
    height: 350px !important;
    border-radius: 3px;
}

/*.modal-content {
    left: -100px;
}*/

#carouselExampleCaptions {
    margin: 50px auto;
}

#carouselExampleCaptions img {
    border-bottom: 3px solid rgb(232, 232, 232);
    border-radius: 5px;
}

.carousel-control-prev {
    background-color: black;
    left: 80%;
    height: 50px;
    margin: auto 0px;
    border-radius: 50px;

}

.carousel-control-next {
    background-color: black;
    left: 0%;
    height: 50px;
    margin: auto 0px;
    border-radius: 50px;
}

/* video */
iframe {
    border-radius: 5px;
}


#page-wrapper {
    padding-left: 250px;
}

#sidebar-wrapper {
    position: absolute;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background-color: rgb(0, 0, 0, 0.7);
    overflow: auto;
    left: 0px;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

/* 사이드바 스타일 */
.modal-content{
    left :-100px;
}
.sidebar-nav li {
    font-size: 1.3m;
    text-indent: 2em;
    line-height: 3em;
}

.sidebar-nav li li {
    text-indent: 4em;
    list-style: none;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;

}

.line {
    width: 250px;
    position: relative;
    left: 10px;
    height: 3px;
    background-color: black;
}


.sidebar-nav li a:hover {
    color: orange;
    background-color: lightgray;
    text-indent: 5.2em;
    font-size: 1.5m;
    border: border;

}

.sidebar-nav > li > a:hover {
    color: gray;
    background-color: silver;
        text-indent: 2.2em;

}

.sidebar-nav > li > a {
    margin: 0px auto;
    font-size: 1.6em;
}

.sidebar-nav > li > ul {
    display: none;
    display: block;
}
.sidebar-nav div{
    text-align: center;
}
.sidebar-nav div a{
    font-size: 3em;
    color: black;
}
/* color option*/
