@font-face {

    font-family: 'BMHANNA_11yrs';

    src: url('../font/BMHANNA_11yrs.woff') format('woff');
}

@font-face {

    font-family: 'BMHANNAAir';

    src: url('../font/BMHANNAAir.woff') format('woff');
}

#titleimg {
    position: absolute;
    left: 20%;
    z-index: -1;
}

body {
    background-color: white !important;
}

* {
    font-family: 'BMHANNAAir';
    font-size: 1em;
}

h1 {
    font-family: 'BMHANNA_11yrs';
    padding: 0px;
    margin: 0px;
    font-size: 5.5em !important;
    font-weight: bolder !important;
}

h2 {
    font-size: 2em !important;
    font-weight: bolder !important;
}

h5 {
    font-size: 1.25em !important;
    font-weight: bolder !important;
}

.col-sm img {
    margin: 0px;
    padding: 0px;
}

/* footer */
dd,
dt,
dl {
    margin: 0px 0px !important;
    padding: 0px !important;
}

dt > a {
    color: gray !important;
    font-weight: 600;
}

dt {
    font-size: 1em !important;
}

dd {
    font-size: 0.8em !important;
}

.footer {
    margin-top: 0px;
    padding: 10px 0px;
    border-top: 1px solid silver;
    color: gray !important;
    font-size: 1em;
}

/* mian navbar */
.navbar {
    background-color: black !important;
    font-size: 15px !important;
    border-bottom: 5px solid orange;
    border-radius: 10px;

}

nav {
    width: 70%;
    display: block;
    margin: 0px auto;

}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-item a,
.nav-item a:visited {
    color: black;
}

/* main slider */
.slider-wrapper,
.theme-default {
    margin-top: 0px !important;
}

a.btn {
    color: white !important;
}

/* jumbo*/
.jumbotron {
    margin-top: 3em !important;
    margin-bottom: 0px !important;
    padding: 0px;
    max-height: 23em !important;
}

.jumbotron img:first-child {
    height: 100.5% !important;
    position: absolute;
    max-height: 23em !important;

}

.jumbotron .col-5:nth-child(1) {
    padding: 3em;
}

#backimg {
    width: 5rem;
    height: 5rem !important;
    border: 0.3em solid black;
    border-radius: 5em;
    padding: 0px;
    margin: 0px;
    position: relative;
}


.card img {
    padding: 0px;
    height: 270px;
}

/*.card img:hover{
    opacity: 0.7;
}*/

.card > a > .imginprt {
    position: absolute;
    top: 0px;
    opacity: 1;
    z-index: -1;
}


.card a,
.card a:visited {
    color: black;
}

#slider {
    height: 100% !important;
    border-radius: 3px;
    z-index: 0;
}

.slider-wrapper,
.nivo-main-image,
#slider > img {
    height: 320px;
}

#carouselExampleCaptions {
    margin: 50px auto;
}

#carouselExampleCaptions img {
    border-bottom: 3px solid rgb(232, 232, 232);
    border-radius: 5px;
}

.carousel-control-prev {
    background-color: black;
    left: 80%;
    top: 10%;
    height: 15%;
    margin: auto 0px;
    border-radius: 30%;
    position: absolute;
}

.carousel-control-next {
    background-color: black;
    left: 0%;
    top: 10%;
    height: 15%;
    margin: auto 0px;
    border-radius: 30%;
    position: absolute;

}

/* video */
iframe {
    border-radius: 5px;
}


#page-wrapper {
    padding-left: 250px;
}

#sidebar-wrapper {
    position: absolute;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background-color: rgb(0, 0, 0, 0.7);
    overflow: auto;
    left: 0px;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

/* 사이드바 스타일 */
.modal-content {
    left: -100px;
    padding-top: 2em;
}

.sidebar-nav li {
    font-size: 1.3m;
    text-indent: 2em;
    line-height: 3em;
}

.sidebar-nav li li {
    text-indent: 4em;
    list-style: none;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;

}

.line {
    width: 250px;
    position: relative;
    left: 10px;
    height: 3px;
    background-color: black;
    margin: 10px;
}


.sidebar-nav li a:hover {
    color: orange;
    background-color: lightgray;
    text-indent: 5.2em;
    font-size: 1.5m;
    border: border;

}

.sidebar-nav > li > a:hover {
    color: gray;
    background-color: silver;
    text-indent: 2.2em;

}

.sidebar-nav > li > a {
    margin: 0px auto;
    font-size: 1.6em;
}

.sidebar-nav > li > ul {
    display: none;
}

/* fix top*/
.topnv {
    height: 65px;
    background-color: white;
    border: 1px solid silver;
    z-index: 0;
    opacity: 0;
    padding: 5px 5%;
}

.topnv h2 {
    margin-left: 20px;
}

.topnv img {
    margin: 0px;
    padding: 0px;
}

.topsearch > div {
    top: 65px;
    background-color: #f5f5f5;
    padding: 2% 30%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
    border-top: 1px solid silver;
}

form input,
form button,
.btn_login {
    border: 0px solid white !important;
    border-radius: 0px !important;
    height: 45px !important;
    padding: 12px;
    margin-top: 9px;
}

.btn_login {
    margin-left: 10px;
}

.btn_login:first-child {
    margin-top: 3px;
}

form button,
.btn_login {
    background-color: black !important;
    color: white !important;
}

.topnv > div {
    padding: 0px;
    margin: 0px;
}

a:focus {
    border: 3px solid orange !important;
    z-index: 1 !important;
}

@media (max-width: 1350px) {

    .navbar,
    .jumbotron p {
        display: none;

    }

    h1 {
        font-size: 3em !important;
    }

    h2 {
        font-size: 1.5em !important;
    }

    .slider-wrapper,
    .nivo-main-image,
    #slider > img {
        height: 200px;
    }

    .card img {
        padding: 0px;
        height: 200px;
    }

    .card {
        min-width: 40%;
    }

    btn {
        font-size: 5px !important;
        vertical-align: baseline;
    }

    .jumbotron iframe {
        width: 480px;
        height: 300px;
        left: 90px;
        top: -100px;
        position: absolute;
    }

    .footer,
    di {
        min-width: 500px !important;
        margin-left: 2%;
    }
}


@media (max-width: 1000px) {

    .footer,
    di {
        min-width: 360px !important;
        margin-left: 2%;
    }

    .carousel-item > div > div {
        visibility: hidden;

    }

    .carousel-item > div > div:first-child {
        visibility: visible;
        min-width: 100%;
    }

    #rap {
        padding: 0px 5% !important;
    }
}

@media (max-width: 600px) {
    * {
        font-size: 12px !important;
    }
}

@media (max-width: 320px) {

    .footer,
    di {
        min-width: 320px !important;
        margin-left: 2%;
    }

    * {
        font-size: 10px !important;
    }

    .jumbotron iframe {
        width: 320px;
        height: 250px;
        left: 95px;
        top: -100px;
        position: absolute;
    }

    .slider-wrapper,
    .nivo-main-image,
    #slider > img {
        height: 200px;
    }

    .carousel-item > div > div:first-child {
        min-width: 320px;
    }

 /*.col-1{
        display: none;
    }*/
    h2{
        margin-left: 13px;
    }
    .col-10{
        min-width: 320px; margin: 0px !important; padding: 0px !important;
    }

}
