* {
    padding: 0px;
    margin: 0px;
}


@font-face {

    font-family: 'BMHANNA_11yrs';

    src: url('../font/BMHANNA_11yrs.woff') format('woff');
}

@font-face {

    font-family: 'BMHANNAAir';

    src: url('../font/BMHANNAAir.woff') format('woff');
}

body {
    background-color: white !important;

}

h1 {
    font-family: 'BMHANNA_11yrs';
}

dl {
    margin: 0px !important;
}

.navbar {
    background-color: white !important;
    font-size: 15px !important;
    border-bottom: 5px solid orange;
    margin-bottom: 20px;
}

nav {
    width: 60%;
    display: block;
    margin: 0px auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
   font-family: 'BMHANNA_11yrs';
}
dd, dt, dl{
    margin: 2px 0px !important; padding: 0px
        !important;
    font-family: 'BMHANNAAir';
}
dt>a {
    color: blue !important; font-weight: 600;
    font-family: 'BMHANNAAir';
}

dd{
    font-size: 0.8em !important;
}

.footer{
    margin-top: 0px; margin-bottom: 10px;
    border-top: 1px solid silver;
    color: gray !important;
    font-size: 1em;
}


.slider-wrapper,
.theme-default {
    margin-top: 0px !important;
}


text-center. {
    font-size: 6em !important;
    font-weight: bolder !important;
}

/*
h2 {
    font-size: 2em !important;
    font-weight: bolder !important;
}
*/

a.btn {
    color: white !important;
}


.slider-wrapper,
.nivo-main-image,
#slider {
    height: 350px !important;
    border-radius: 3px;
}

.modal-content {
    left: -100px;
}




iframe {
    border-radius: 5px;
}

.nav-item a:hover{
    color: orange !important ;
}
