


#floatMenu{
            position: absolute;
            z-index: 1;
            float:center;
            left:80%;

        }
        .menu a {
            cursor: pointer;
        }

        .menu .hide {
            display: none;
        }

        .hide {

            border: 1px solid silver;
            padding: 0px 5px 30px 10px;
            background-color: white;
        }




        ul {
            list-style: none;
        }

        #plus {
            width: 25px;
            height: 25px;
            border: 1px solid silver;
            text-align: center;
            position: relative;
            left:-26px;
            top:50px;
            background-color: white;

        }


        img {
            width: 70px;
            height: 70px;
            border: 1px solid silver;
        }
