  #page-wrapper {
padding-left: 250px;
      height: 100%;
    z-index: 9999;

  }

  #sidebar-wrapper {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    background: #000;
    overflow: auto;
  }

  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */

  .sidebar-nav {
 width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }

  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'BMHANNAAir';
  }

  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }

    #tt{
        margin: 50px 0px;
        font-size: 2.29em;
        font-family: 'BMHANNA_11yrs';
        position: relative;
        left: -10px;
    }

   li>ul{
        display: none;
       list-style: circle;
    }

    #line {
        width: 200px;
        position: relative;
        left: 20px;
        top: -15px;
        height: 1px;
        background-color: white;
    }

.sidebar-nav>li>a{
    font-size: 20px;
}
