<style>
hr{border:10px solid black;}

#content{
    border: 1px solid silver;
    width: 80%;
    margin: 0px auto;
}


       /* div{
        border:1px solid silver;}*/


        #java{
            width: 400px;
            height: 300px;
            /*position:relative;
            left:200px;*/
            display: block;
            margin:0px auto;

        }
       /* button{
            border:1px solid silver;
        }*/
.btn-group{
    border:1px solid black;
    width: 500px;
    background-color: silver;
    color:black;
    text-decoration-color: black;
    text-align: center;
}

        a:hover{color:black;
           text-decoration: none;
background-color:black;}

aside{
    /*background: silver;*/
    height: 40px;
    position: fixed;
    left:50%;
    top: 30;
    transition: top 0.2s ease-in-out;
    /*width: 300px;*/
    /*color:white;*/
}
.progress-bar{background-color: black;}

.nav-up {
    top: -40px;
}
