/*style css*/

    .darkmode{
    background-color: black !important;
    color:lightgray;


}
.darkbadge{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}




.lightmode{
    background-color: white !important;
    color:black;

}
